* {
  box-sizing: border-box;
}

html,
body {
  cursor: none;
  overflow: hidden;
}

body {
  /* background-image: linear-gradient(to bottom, #F6F7EB 0%, #EFD6AC 100%); */
  background-color: white;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  color: #fafffd;
  background: #507dbc;
}

::selection {
  color: #fafffd;
  background: #507dbc;
}

a,
a:hover {
  cursor: none;
}

.logo .glare-wrapper {
  border-radius: 50%;
}
