* {
  box-sizing: border-box;
}

html,
body {
  cursor: none;
  overflow: hidden;
}

body {
  position: relative;
  background-color: #fafffd;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  color: #fafffd;
  background: #507dbc;
}

::selection {
  color: #fafffd;
  background: #507dbc;
}
