* {
  box-sizing: border-box;
}

html,
body {
  cursor: none;
  overflow: hidden;
}

body {
  position: relative;
  background-color: #f4f4f9;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  color: #f4f4f9;
  background: #148bef;
}

::selection {
  color: #f4f4f9;
  background: #148bef;
}

/* Scrollbar */
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
